In [22]:
import pandas as pd
import numpy as np
import random

In [2]:
df = pd.read_csv("../fixation/18sat_fixfinal.csv")
df_filtered = df[(df['page_name']== 'reading-dickens-1') & (df['RECORDING_SESSION_LABEL'] == 'msd001')]
df_filtered = df_filtered.sort_values("CURRENT_FIX_INTEREST_AREA_ID")

In [36]:
label = pd.read_csv("../fixation/18sat_labels.csv")

In [4]:
df_filtered[['RECORDING_SESSION_LABEL', 'CURRENT_FIX_X', 'CURRENT_FIX_Y', 'CURRENT_FIX_PUPIL', 'CURRENT_FIX_DURATION']] \
    .merge(label[label['book'] == 'dickens'], left_on='RECORDING_SESSION_LABEL', right_on='subj', how = 'inner' )

,RECORDING_SESSION_LABEL,CURRENT_FIX_X,CURRENT_FIX_Y,CURRENT_FIX_PUPIL,CURRENT_FIX_DURATION,subj,book,acc,confidence,difficulty,...,interest,pressured,sleepiness,sleephours,acc_level,subj_acc,language,sex,native,subj_acc_level
0,msd001,819.9,718.7,1673.0,213,msd001,dickens,0.6,2,0,...,2,0,1,2,2,0.75,English,F,1,3
1,msd001,867.4,708.7,1519.0,165,msd001,dickens,0.6,2,0,...,2,0,1,2,2,0.75,English,F,1,3
2,msd001,167.3,124.8,1348.0,194,msd001,dickens,0.6,2,0,...,2,0,1,2,2,0.75,English,F,1,3
3,msd001,225.6,114.6,1358.0,117,msd001,dickens,0.6,2,0,...,2,0,1,2,2,0.75,English,F,1,3
4,msd001,270.9,111.3,1382.0,210,msd001,dickens,0.6,2,0,...,2,0,1,2,2,0.75,English,F,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,msd001,697.0,645.5,1785.0,183,msd001,dickens,0.6,2,0,...,2,0,1,2,2,0.75,English,F,1,3
108,msd001,798.9,640.4,1606.0,255,msd001,dickens,0.6,2,0,...,2,0,1,2,2,0.75,English,F,1,3
109,msd001,864.5,639.3,1567.0,143,msd001,dickens,0.6,2,0,...,2,0,1,2,2,0.75,English,F,1,3
110,msd001,59.8,125.4,1430.0,22,msd001,dickens,0.6,2,0,...,2,0,1,2,2,0.75,English,F,1,3
111,msd001,831.0,55.6,1025.0,139,msd001,dickens,0.6,2,0,...,2,0,1,2,2,0.75,English,F,1,3

In [7]:
df.head()

,RECORDING_SESSION_LABEL,TRIAL_INDEX,CURRENT_FIX_X,CURRENT_FIX_Y,CURRENT_FIX_PUPIL,CURRENT_FIX_DURATION,CURRENT_FIX_INTEREST_AREA_ID,CURRENT_FIX_INTEREST_AREA_LABEL,CURRENT_FIX_INTEREST_AREA_PIXEL_AREA,CURRENT_FIX_INTEREST_AREA_RUN_ID,...,Trial_Recycled_,total_page,type,book_name,book,page,RT,answer,correct_answer,page_name
0,msd001,1,59.8,125.4,1430.0,22,NaN,NaN,NaN,NaN,...,True,5,reading,dickens,1,1,25094.538413,1,-99,reading-dickens-1
1,msd001,1,348.7,182.0,1375.0,26,24.0,long,3520.0,1.0,...,True,5,reading,dickens,1,1,25094.538413,1,-99,reading-dickens-1
2,msd001,1,630.5,400.3,1365.0,216,72.0,safe,3136.0,1.0,...,True,5,reading,dickens,1,1,25094.538413,1,-99,reading-dickens-1
3,msd001,1,492.0,400.2,1440.0,125,69.0,boundless,7488.0,1.0,...,True,5,reading,dickens,1,1,25094.538413,1,-99,reading-dickens-1
4,msd001,1,526.6,390.5,1265.0,486,70.0,"world,",4992.0,1.0,...,True,5,reading,dickens,1,1,25094.538413,1,-99,reading-dickens-1

In [12]:
read = df[(df.type == 'reading')].loc[:, ['RECORDING_SESSION_LABEL','page', 'page_name']]

In [16]:
read[read.page_name.str.startswith("reading-northpole")].page_name.value_counts()

reading-northpole-1    16616
reading-northpole-2    13411
reading-northpole-4    13244
reading-northpole-3    12839
reading-northpole-5     5370
Name: page_name, dtype: int64

In [17]:
read[read.page_name.str.startswith("reading-flytrap")].page_name.value_counts()

reading-flytrap-1    15072
reading-flytrap-2    13510
reading-flytrap-3    12368
reading-flytrap-4    11193
reading-flytrap-6    10967
reading-flytrap-5    10556
Name: page_name, dtype: int64

In [18]:
read[read.page_name.str.startswith("reading-dickens")].page_name.value_counts()

reading-dickens-1    14430
reading-dickens-3    13154
reading-dickens-2    11624
reading-dickens-4    10086
reading-dickens-5     9607
Name: page_name, dtype: int64

In [19]:
read[read.page_name.str.startswith("reading-genome")].page_name.value_counts()

reading-genome-2    13866
reading-genome-3    13318
reading-genome-4    13280
reading-genome-1    12753
reading-genome-5    12514
reading-genome-6     3254
Name: page_name, dtype: int64

> Every passage has atleast 5 pages hence we can choose any random one page as a test label and all other for training

In [46]:
test_page = ['dickens', 'genome', 'flytrap', 'northpole']
test_page = random.choice(test_page)
print("The passage selected as a test label is "+ test_page)

The passage selected as a test label is dickens

In [47]:
test = df[(df.page_name.str.contains(test_page)) & (df.type == 'reading')]
train = df[~(df.page_name.str.contains(test_page)) & (df.type == 'reading')]
train = train.sort_values(['page_name', 'CURRENT_FIX_INTEREST_AREA_ID'],
              ascending = [True, True])
test = test.sort_values(['page_name', 'CURRENT_FIX_INTEREST_AREA_ID'],
              ascending = [True, True])

In [48]:
train_indivitual = train[train.RECORDING_SESSION_LABEL == 'msd001']
test_indivitual = test[test.RECORDING_SESSION_LABEL == 'msd001']

In [49]:
train_indivitual.head(1)

,RECORDING_SESSION_LABEL,TRIAL_INDEX,CURRENT_FIX_X,CURRENT_FIX_Y,CURRENT_FIX_PUPIL,CURRENT_FIX_DURATION,CURRENT_FIX_INTEREST_AREA_ID,CURRENT_FIX_INTEREST_AREA_LABEL,CURRENT_FIX_INTEREST_AREA_PIXEL_AREA,CURRENT_FIX_INTEREST_AREA_RUN_ID,...,Trial_Recycled_,total_page,type,book_name,book,page,RT,answer,correct_answer,page_name
1088,msd001,19,212.4,92.1,1579.0,242,5.0,Venus,5624.0,1.0,...,True,6,reading,flytrap,2,1,29015.198413,1,-99,reading-flytrap-1

In [50]:
train_indivitual = train_indivitual[['RECORDING_SESSION_LABEL', 'CURRENT_FIX_X', 'CURRENT_FIX_Y', 'CURRENT_FIX_PUPIL', 'CURRENT_FIX_DURATION', 'CURRENT_FIX_INTEREST_AREA_LABEL', 'RT', 'book_name']] \
    .merge(label, left_on=['RECORDING_SESSION_LABEL', 'book_name'], right_on=['subj', 'book'], how = 'inner' )
    
    
test_indivitual = test_indivitual[['RECORDING_SESSION_LABEL', 'CURRENT_FIX_X', 'CURRENT_FIX_Y', 'CURRENT_FIX_PUPIL', 'CURRENT_FIX_DURATION', 'CURRENT_FIX_INTEREST_AREA_LABEL', 'RT', 'book_name']] \
    .merge(label, left_on=['RECORDING_SESSION_LABEL', 'book_name'], right_on=['subj', 'book'], how = 'inner' )

In [52]:
train_indivitual.head(20)

,RECORDING_SESSION_LABEL,CURRENT_FIX_X,CURRENT_FIX_Y,CURRENT_FIX_PUPIL,CURRENT_FIX_DURATION,CURRENT_FIX_INTEREST_AREA_LABEL,RT,book_name,subj,book,...,interest,pressured,sleepiness,sleephours,acc_level,subj_acc,language,sex,native,subj_acc_level
0,msd001,212.4,92.1,1579.0,242,Venus,29015.198413,flytrap,msd001,flytrap,...,2,1,1,2,3,0.75,English,F,1,3
1,msd001,393.1,82.6,1552.0,243,[Dionaea,29015.198413,flytrap,msd001,flytrap,...,2,1,1,2,3,0.75,English,F,1,3
2,msd001,398.6,99.1,1575.0,325,[Dionaea,29015.198413,flytrap,msd001,flytrap,...,2,1,1,2,3,0.75,English,F,1,3
3,msd001,398.2,153.5,1651.0,130,[Dionaea,29015.198413,flytrap,msd001,flytrap,...,2,1,1,2,3,0.75,English,F,1,3
4,msd001,424.1,151.3,1794.0,297,[Dionaea,29015.198413,flytrap,msd001,flytrap,...,2,1,1,2,3,0.75,English,F,1,3
5,msd001,402.4,140.2,1434.0,262,[Dionaea,29015.198413,flytrap,msd001,flytrap,...,2,1,1,2,3,0.75,English,F,1,3
6,msd001,432.9,109.8,1514.0,94,muscipula],29015.198413,flytrap,msd001,flytrap,...,2,1,1,2,3,0.75,English,F,1,3
7,msd001,509.6,97.9,1624.0,157,muscipula],29015.198413,flytrap,msd001,flytrap,...,2,1,1,2,3,0.75,English,F,1,3
8,msd001,453.3,98.2,1519.0,176,muscipula],29015.198413,flytrap,msd001,flytrap,...,2,1,1,2,3,0.75,English,F,1,3
9,msd001,482.1,102.6,1558.0,209,muscipula],29015.198413,flytrap,msd001,flytrap,...,2,1,1,2,3,0.75,English,F,1,3
10,msd001,504.7,97.7,1529.0,132,muscipula],29015.198413,flytrap,msd001,flytrap,...,2,1,1,2,3,0.75,English,F,1,3
11,msd001,487.3,149.5,1556.0,152,muscipula],29015.198413,flytrap,msd001,flytrap,...,2,1,1,2,3,0.75,English,F,1,3
12,msd001,545.7,149.7,1585.0,190,muscipula],29015.198413,flytrap,msd001,flytrap,...,2,1,1,2,3,0.75,English,F,1,3
13,msd001,499.9,149.6,1473.0,236,muscipula],29015.198413,flytrap,msd001,flytrap,...,2,1,1,2,3,0.75,English,F,1,3
14,msd001,525.6,148.6,1437.0,274,muscipula],29015.198413,flytrap,msd001,flytrap,...,2,1,1,2,3,0.75,English,F,1,3
15,msd001,616.9,103.9,1599.0,115,needs,29015.198413,flytrap,msd001,flytrap,...,2,1,1,2,3,0.75,English,F,1,3
16,msd001,572.9,148.4,1469.0,172,needs,29015.198413,flytrap,msd001,flytrap,...,2,1,1,2,3,0.75,English,F,1,3
17,msd001,623.7,101.6,1554.0,210,to,29015.198413,flytrap,msd001,flytrap,...,2,1,1,2,3,0.75,English,F,1,3
18,msd001,641.2,98.4,1482.0,340,to,29015.198413,flytrap,msd001,flytrap,...,2,1,1,2,3,0.75,English,F,1,3
19,msd001,642.1,103.7,1566.0,170,to,29015.198413,flytrap,msd001,flytrap,...,2,1,1,2,3,0.75,English,F,1,3

In [51]:
test_indivitual.head(2)

,RECORDING_SESSION_LABEL,CURRENT_FIX_X,CURRENT_FIX_Y,CURRENT_FIX_PUPIL,CURRENT_FIX_DURATION,CURRENT_FIX_INTEREST_AREA_LABEL,RT,book_name,subj,book,...,interest,pressured,sleepiness,sleephours,acc_level,subj_acc,language,sex,native,subj_acc_level
0,msd001,867.4,708.7,1519.0,165,next_PAGE,25094.538413,dickens,msd001,dickens,...,2,0,1,2,2,0.75,English,F,1,3
1,msd001,819.9,718.7,1673.0,213,next_PAGE,25094.538413,dickens,msd001,dickens,...,2,0,1,2,2,0.75,English,F,1,3

In [55]:
df_filtered.loc[15:35, ['CURRENT_FIX_INTEREST_AREA_LABEL']]

   CURRENT_FIX_INTEREST_AREA_LABEL
15                           paper
16                            ink.
17                          school
18                             had
19                         learned
20                            read
21                            long
1                             long
22                          before
6                            other
24                           other
23                       children.
26                           Where
25                              my
27                          school
28                          school
29                          school
30                         notches
31                             ink
32                incomprehensible
33                incomprehensible
34                          pages,
35                             saw